# text_analytics-1

In [ ]:
#sentence into words
#paragraph into sentences

In [1]:
#regular expression
import re

In [2]:
#split a sentence into words
s1 = "I am learning NLTK"
re.split('\s',s1)
# \s is called Identifier

['I', 'am', 'learning', 'NLTK']

In [ ]:
'''
\s -> space
\d -> number
\D -> anything but a number
\S -> anything but a space
\w -> any charater
\W -> any thing but a charater
'''

In [3]:
s2 = "I \n\n an new \n\n to \n NLTK"
re.split('\n',s2)

['I ', '', ' an new ', '', ' to ', ' NLTK']

In [ ]:
'''
modifiers -> extract specific info from the text , matching the pattern

+  -> matches 1 or more 

. -> everything till end of line

? -> 0 or 1

* -> 0 or more

[] -> includes a range 

() -> include a group of characters

{} -> query   #how many digits
'''

In [7]:
#more patterns matching 
s3 = "India is my Country. The capital is New Delhi. It is in Asia. Cialand is also a country"
print(s3)

India is my Country. The capital is New Delhi. It is in Asia. Cialand is also a country

In [10]:
#find all the words that have the patterns "ia"
re.findall("[\w]+ia[\w]*",s3)

['India', 'Asia', 'Cialand']

In [11]:
re.findall("[\w]*ia[\w]*",s3)

['India', 'Asia', 'Cialand']

In [15]:
#get all the words that start we a capital letter
s4 = "An Apple a Day keeps the Doctor Away"
re.findall("[A-Z]\w+",s4)

['An', 'Apple', 'Day', 'Doctor', 'Away']

In [22]:
#get all the words that ends with capital letters
s5 = "an apple a daY keeps the doctoR away"
re.findall("\w+[A-Z]",s5)

['daY', 'doctoR']

In [26]:
#get all the words that have at least 1 upper case character
s6 = "all woRk and no play makes Jack a dully boY"
re.findall("[\w]*[A-Z][\w]*",s6)

['woRk', 'Jack', 'boY']

In [32]:
#find all the lower case words from sentence s6
re.findall("[a-z]+",s6)

['all', 'wo', 'k', 'and', 'no', 'play', 'makes', 'ack', 'a', 'dully', 'bo']

In [34]:
#extract email ID's from a string 
s7 = "primary mail id is sri@yahoomail.com, secondary mail id is sri@rediff.com, alternate id is sriram@gmail.com"
print(s7)

primary mail id is sri@yahoomail.com, secondary mail id is sri@rediff.com, alternate id is sriram@gmail.com

In [40]:
emails = re.findall("[\w.]+@[\w.]+",s7)
emails

['sri@yahoomail.com', 'sri@rediff.com', 'sriram@gmail.com']

In [39]:
print("primary mail id = {}, secondary mail id = {}".format(emails[0],emails[1],emails[2]))

primary mail id = sri@yahoomail.com, secondary mail id = sri@rediff.com

In [41]:
#get all email ids belonging to the specific domain 
s8 = "c1@gmail.com c2@yahoo.com c3@mycompany.com c4@gmail.com c5@hotmail.com"
s8

'c1@gmail.com c2@yahoo.com c3@mycompany.com c4@gmail.com c5@hotmail.com'

In [42]:
#get email ID's belonging to domain 'gmail'
re.findall("[\w.]+@gmail.com",s8)

['c1@gmail.com', 'c4@gmail.com']

In [43]:
#extract the values from within a XML/HTML tag 
s9 = "<firstname>sriram<firstname>"
s9

'<firstname>sriram<firstname>'

In [54]:
re.findall(">(.*)<",s9)  #returns words without tags

['sriram']

In [66]:
re.findall(">[\w]*<",s9)   #returns words with tags

['>sriram<']

In [95]:
#extract numbers from a string 
s10 = "the average experience of the employees is 5 years . There are some people who have more than 15 years exp. There are 200 people working here. The total revenue was 2745 cr . the office is number is 29108040. Last year, the number of employees where 191 and before that it was 102"
s10

'the average experience of the employees is 5 years . There are some people who have more than 15 years exp. There are 200 people working here. The total revenue was 2745 cr . the office is number is 29108040. Last year, the number of employees where 191 and before that it was 102'

In [87]:
#all numbers
numbers = re.findall("\d+",s10)
numbers

['5', '15', '200', '2745', '29108040']

In [72]:
#extract numbers that are of a specific digit 
re.findall("\d{8}",s10)

['29108040']

In [73]:
#get all the 4 digit numbers
re.findall("\d{4}",s10)   # gives wrong output

['2745', '2910', '8040']

In [74]:
#get all the 3 digit numbers
re.findall("\d{3}",s10)

['200', '274', '291', '080']

In [75]:
re.findall("\d{2}",s10)

['15', '20', '27', '45', '29', '10', '80', '40']

In [76]:
re.findall("\d{1}",s10)

['5',
 '1',
 '5',
 '2',
 '0',
 '0',
 '2',
 '7',
 '4',
 '5',
 '2',
 '9',
 '1',
 '0',
 '8',
 '0',
 '4',
 '0']

In [88]:
numbers

['5', '15', '200', '2745', '29108040']

In [89]:
#using python method extract 3 digit number from text
[int(n) for n in numbers if len(n) == 3]

[200]

In [96]:
#look ahead/look behind technique
re.findall("(?<=\s)\d{3}(?=\s)",s10)

['200', '191']

In [97]:
re.findall("(?<=\s)\d{1}(?=\s)",s10)

['5']

In [ ]:
'''
there are 7 days , 24 hours , 365 days, 52 weeks 
#assume we want all the 2 digit numbers 
2 digit numbers are -> 24 , 52 this should be the output

1st method =>"(\d)+" -> ['7','24','365','52','3600']

2nd method => findall(     )
                       look behind                <-[d{2}]->
                       look ahead               LB          LA
                                                +,-           +,-
                                                
                                                
                                        

'''

In [100]:
#split a sentence on certain charaters
s11 = "python is an easy language to learn. python is also popular among data science projects as the preferred language. it supports oops and can be used to develop other applications. the question about its popularity has been going on for long"
s11

'python is an easy language to learn. python is also popular among data science projects as the preferred language. it supports oops and can be used to develop other applications. the question about its popularity has been going on for long'

In [101]:
#split the sentence s11 on char[p,q,r]
re.split("[p-r]",s11)

['',
 'ython is an easy language to lea',
 'n. ',
 'ython is also ',
 'o',
 'ula',
 ' among data science ',
 '',
 'ojects as the ',
 '',
 'efe',
 '',
 'ed language. it su',
 '',
 'o',
 'ts oo',
 's and can be used to develo',
 ' othe',
 ' a',
 '',
 'lications. the ',
 'uestion about its ',
 'o',
 'ula',
 'ity has been going on fo',
 ' long']

In [102]:
s12 = "makyra is a way of pronouncing word. the lady in red was shopping in the mall in kayakistan "
s12

'makyra is a way of pronouncing word. the lady in red was shopping in the mall in kayakistan '

In [103]:
#suppose pattern is [ka,la,ma] 
re.split("[k-m]a",s12)

['',
 'kyra is a way of pronouncing word. the ',
 'dy in red was shopping in the ',
 'll in ',
 'yakistan ']

In [131]:
#A1)
s13 = "I think I understand regular expressions"
s13

'I think I understand regular expressions'

In [ ]:
#create the sentence and extract the all the words after "think"
#1)use python method
#2)regular expression

In [122]:
#1)
wd= 'think'
s13.index(wd)

2

In [124]:
s13[s13.index(wd)+len(wd)+1:]

'I understand regular expressions'

In [125]:
s13[s13.index(wd)+len(wd):].strip()

'I understand regular expressions'

In [115]:
#2)
re.findall("I think(.*)",s13)

[' I understand regular expressions']

In [132]:
re.findall("(?<=think)\w.+", s13)

[]

In [133]:
#text cleaning 
text ="??? this sentence [[[has a  } lot of extra charaters + apart from the && regular text; this// needs to be % cleanseD]]]"
print(text)

??? this sentence [[[has a  } lot of extra charaters + apart from the && regular text; this// needs to be % cleanseD]]]

In [136]:
#replace function 
re.sub("[\W]",' ',text).strip()

'this sentence    has a    lot of extra charaters   apart from the    regular text  this   needs to be   cleanseD'

In [137]:
text = re.sub("[\W]",' ',text)
print(text)

    this sentence    has a    lot of extra charaters   apart from the    regular text  this   needs to be   cleanseD

In [139]:
#split and join to do properly formated sentence
text = " ".join(text.split())
print(text)

this sentence has a lot of extra charaters apart from the regular text this needs to be cleanseD

In [ ]:
#-------------------------------------------------------------------------------------------

In [ ]:
#file name: services.xml

In [178]:
#read a file in python
filename = "C:/Users/mayur/Downloads/services.xml"
f=open(filename,"r")

In [179]:
line = f.readline()  #read the file for processing 
print(line)

<services>

In [172]:
servic={}

In [175]:
books ={}

In [177]:
books['r k narayan'] = 'malgudi days'
print(books)

{'r k narayan': 'malgudi days'}

In [180]:
while line:
    servic={}
    #extracting the key - value pair of a service and populate the dictionary
    key =re.findall(">(.*)<",line)
    val = re.findall(">(.*)<",line)    
        
    servic[print(key)] = print(val)
    
    line = f.readline()
    
f.close() #close the file 

#print the dictionary
print(servic)

[]
[]
[]
[]
['1464']
['1464']
['AdobeARMservice']
['AdobeARMservice']
['Running']
['Running']
['Acrobat Update Service']
['Acrobat Update Service']
[]
[]
[]
[]
[]
[]
['13948']
['13948']
['OneSyncSvc_ba0290']
['OneSyncSvc_ba0290']
['Running']
['Running']
['Unistack service']
['Unistack service']
[]
[]
[]
[]
[]
[]
['9836']
['9836']
['LicenseManager']
['LicenseManager']
['Running']
['Running']
['LocalService']
['LocalService']
[]
[]
[]
[]
[]
[]
['7292']
['7292']
['TabletInputService']
['TabletInputService']
['Stopped']
['Stopped']
['LocalSystemNetworkRestricted']
['LocalSystemNetworkRestricted']
[]
[]
[]
[]
[]
[]
['8732']
['8732']
['HPSupportSolutionsFrameworkService']
['HPSupportSolutionsFrameworkService']
['Running']
['Running']
['HP Support Solutions']
['HP Support Solutions']
[]
[]
[]
[]
[]
[]
['7016']
['7016']
['SSDPSRV']
['SSDPSRV']
['Running']
['Running']
['LocalServiceAndNoImpersonation']
['LocalServiceAndNoImpersonation']
[]
[]
[]
[]
[]
[]
['5472']
['5472']
['Netman']
['Netman']
['Paused']
['Paused']
['LocalSystemNetworkRestricted']
['LocalSystemNetworkRestricted']
[]
[]
[]
[]
[]
[]
['3896']
['3896']
['TapiSrv']
['TapiSrv']
['Running']
['Running']
['NetworkService']
['NetworkService']
[]
[]
[]
[]
[]
[]
['2988']
['2988']
['StateRepository']
['StateRepository']
['Running']
['Running']
['appmodel']
['appmodel']
[]
[]
[]
[]
[]
[]
['1836']
['1836']
['DeviceAssociationService']
['DeviceAssociationService']
['Running']
['Running']
['LocalSystemNetworkRestricted']
['LocalSystemNetworkRestricted']
[]
[]
[]
[]
[]
[]
{None: None}

In [142]:
s9 = "<firstname>sriram<firstname>"
s9

'<firstname>sriram<firstname>'

In [143]:
re.findall(">(.*)<",s9)  #returns words without tags

['sriram']

In [ ]:
<services>
	<service>
		<serviceid>1464</serviceid>
		<servicename>AdobeARMservice</servicename>
		<status>Running</status>
		<group>Acrobat Update Service</group>
	</service>

In [2]:
#---------------------------------
import nltk

In [185]:
!pip install nltk

Collecting nltk
  Downloading nltk-3.6.2-py3-none-any.whl (1.5 MB)
Collecting regex
  Downloading regex-2021.4.4-cp37-cp37m-win_amd64.whl (269 kB)
Requirement already satisfied: tqdm in c:\users\mayur\anaconda3\envs\tensorflow\lib\site-packages (from nltk) (4.60.0)
Requirement already satisfied: click in c:\users\mayur\anaconda3\envs\tensorflow\lib\site-packages (from nltk) (7.1.2)
Requirement already satisfied: joblib in c:\users\mayur\anaconda3\envs\tensorflow\lib\site-packages (from nltk) (1.0.1)
Installing collected packages: regex, nltk
Successfully installed nltk-3.6.2 regex-2021.4.4

In [1]:
nltk.download()

NameError: name 'nltk' is not defined